<p>ng-style works!<br/>
    1.Apply Style Name by clicking button<br/>
    2.Apply Class Name by clicking checkbox<br/>
    3.Apply Class Name by entering class name in textbox<br/>
    4.Property Binding [class]
</p>
    <div class="row">
        <div class="col-3 p-4" [ngStyle]="{'background-color':div1BackColor}">
            Div1
        </div>
    </div>
    
    <div class="row">
        <div class="col-3">
            <button class="btn btn-success" (click)="addDiv1StyleColor('green')"> Green </button>
            <button class="btn btn-danger" (click)="addDiv1StyleColor('red')"> Red </button>
        </div>
    </div>
    
    