<h1>{{title}}</h1>
<div>
  <h2>ngFor index, first , last, odd, even - Item from Array Example</h2>
  <ul style="width: 400px;">

    <li *ngFor="let fruit of fruits; let i=index;let isFirst=first; let isLast=last; let isEven = even; let isOdd = odd"
        [ngClass]="{'even-item': isEven, 'odd-item': isOdd}">
      <strong *ngIf="isFirst">First:</strong>
      <strong *ngIf="isLast">Last:</strong>
      {{i+1}}-{{fruit}}
    </li>
  </ul>
  <input type="checkbox" [(ngModel)]="showMe" />Select
  <h1 *ngIf="showMe">Hello World! - {{showMe}}</h1>
</div>
<div [ngClass]="['primary', 'bigFont']">
ngClass Implementation
</div>
<div [ngClass]="{'primary':showMe}">
ngClass Implementation
</div>
<div [ngStyle]="{'color':'green','font-size':'60px'}">
ngStyle Implementation
</div>
