<table border="1" style="text-align: left;">

  <tr>
    <td>
      <div
        *ngFor="let note of notesArray; let i = index; trackBy: trackByIndex"
        class="note-row"
      >
        <input
          type="text"
          class="note-input"
          [ngModel]="notesArray[i]"
          (ngModelChange)="onNoteInput(i, $event)"
          (paste)="onPaste($event, i)"
        />
 <!-- Delete disabled if only one textbox -->
        <button
          type="button"
          class="icon-btn delete-btn"
          [disabled]="notesArray.length === 1"
          (click)="deleteNote(i)"
        >
          ✕
        </button>
        <!-- Add button only on last textbox -->
        <button
          *ngIf="i === notesArray.length - 1"
          type="button"
          class="icon-btn add-btn"
          (click)="addNote()"
        >
          +
        </button>

       
      </div>

      <!-- Optional live counter -->
      <div class="info">
        Total length: {{ notes.length }} / {{ MAX_LENGTH }}
      </div>
    </td>
  </tr>
    <tr>
    <td><h3>{{notes}}</h3></td>
  </tr>
</table>
