<div class="row">
  <div class="col-12 text-center">

    <div class="btn-group">
      <button type="button" class="btn" [ngClass]="currentComponent == 'Roles' ? 'btn-success': 'btn-primary'" (click)="changeTab('Roles')">Roles</button>
      <button type="button" class="btn" [ngClass]="currentComponent == 'Designation' ? 'btn-success': 'btn-primary'" (click)="changeTab('Designation')">Designation</button>
      <button type="button" class="btn" [ngClass]="currentComponent == 'Notes' ? 'btn-success': 'btn-primary'" (click)="changeTab('Notes')">Notes</button>
      <button type="button" class="btn" [ngClass]="currentComponent == 'Counter' ? 'btn-success': 'btn-primary'" (click)="changeTab('Counter')">Counter</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <app-roles *ngIf="currentComponent == 'Roles'"></app-roles>
    <app-designation *ngIf="currentComponent == 'Designation'"></app-designation>
    <app-notes *ngIf="currentComponent == 'Notes'"></app-notes>
    <app-counter *ngIf="currentComponent == 'Counter'"></app-counter>
  </div>

</div>
