<h1>data-binding works!</h1>
<h2>1.Interpolation</h2>
<div class="row">
        <div class="col-6">
            
            <p>First Name : {{firstName}}</p>
            <div>
               Roll Number: {{rollNumber}}
            </div>
            <span>Status :{{isActive}}</span>
        </div>
</div>
<hr/>
<h2>2.Property Binding</h2>
<div class="col-6">
    <input type="text" name="" id="" [value]="firstName">
    <br>
    <input type="text" name="" id="" [placeholder]="myPlaceholder">
    <br/>
    <div [class]="div1ClassName" style="height: 100px; width: 100px;">

    </div>
</div>
<hr/>
<h2>3.Event Binding</h2>
<div class="row">
    <div class="col-3">
        <button class="btn btn-success" (click)="showWelcomeMessage()">show Welcome Message</button>
    </div>
</div>

