<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main class="main">
  <div class="content">
    <!-- <table class="table table-bordered">
      <tr>
        <td colspan="2">
          <H2>ngStyle</H2>
          <app-ng-style> </app-ng-style>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <H2>ngClass Code</H2>
          <app-ng-class> </app-ng-class>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <H2>ngFor Code</H2>
          <app-ng-for> </app-ng-for>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <H2>ngIf Code</H2>
          <app-ng-if> </app-ng-if>
        </td>
      </tr>
      <tr>
        <td><app-user></app-user></td>
        <td><app-admin></app-admin></td>
      </tr>
      <tr>
        <td colspan="2">
          <app-data-binding> </app-data-binding>
        </td>
      </tr>
      
      
    </table> -->
  </div>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'dataBinding'">Data Binding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="ng-class">Ng Class</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="control-faisal">Control Flow</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button">Search</button>
        </form>
      </div>
    </div>
  </nav>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet ></router-outlet>

