<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main class="main">
  <div class="content">
    <table class="table table-bordered">
      <tr>
        <td colspan="2">
          <H2>ngClass Code</H2>
          <app-ng-class> </app-ng-class>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <H2>ngFor Code</H2>
          <app-ng-for> </app-ng-for>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <H2>ngIf Code</H2>
          <app-ng-if> </app-ng-if>
        </td>
      </tr>
      <tr>
        <td><app-user></app-user></td>
        <td><app-admin></app-admin></td>
      </tr>
      <tr>
        <td colspan="2">
          <app-data-binding> </app-data-binding>
        </td>
      </tr>
      
      
    </table>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
